# ~/.gitconfig - Git configuration
# Managed by chezmoi

[user]
    name = {{ .name }}
    email = {{ .email }}

[alias]
    st = status
    co = checkout
    br = branch
    ci = commit
    ca = commit --amend
    d = diff
    ds = diff --staged
    lg = log --oneline --graph --decorate -20
    lga = log --oneline --graph --decorate --all
    last = log -1 HEAD --stat
    unstage = reset HEAD --

[core]
    excludesfile = ~/.gitignore

[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
